<label [attr.for]="composeAttributeValue()" class="m-0 p-0">
  <ta-icon
    icon="search"
    color="#777777"
    class="position-relative"
    style="top: -1px"
  ></ta-icon>
</label>

<div class="d-inline-block" [class.w-100]="alwayShowClear">
  <form [formGroup]="searchForm">
    <input
      #search
      [attr.id]="composeAttributeValue()"
      [attr.placeholder]="alwayShowClear ? placeholder : null"
      [class.w-100]="alwayShowClear"
      formControlName="searchInput"
      class="form-control border-0 py-0 search-field pr-0"
      size="3"
    />
  </form>
</div>

<label
  class="search-custom-placeholder"
  [innerText]="placeholder"
  *ngIf="!alwayShowClear && !showClear"
  [attr.for]="composeAttributeValue()"
></label>

<ta-icon
  icon="clear"
  color="#CCCCCC"
  class="position-relative"
  height="12"
  (click)="searchClear()"
  *ngIf="alwayShowClear || showClear"
  style="top: -1px; cursor: pointer"
></ta-icon>
