@import 'variables';
:host-context {
  height: 500px;
}
ta-modal-confirmation-basic {
  .default-icon-background {
    width: 48px;
    height: 48px;
    background-color: $zircon;
  }

  .ta-table {
    border-bottom: none;

    .ta-table-row {
      border-top: none;
      border-bottom: none;
    }
  }

  // This is needed to overwrite default .d-flex!important
  .table-column-empty {
    display: none !important;
  }

  .delete-icon-background {
    width: 48px;
    height: 48px;
    background-color: $red-light;
    svg {
      color: $red;
    }
  }

  .modal-title {
    min-height: 40px;
    margin: auto auto;
    font-size: $font-size-16;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $black;
  }

  .modal-description {
    width: 380px;
    height: 15px;
    margin: auto;
    font-size: $font-size-12;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: $gray-800;
  }

  .modal-scroll {
    max-height: 240px;
  }

  .ta-table-cell {
    height: 40px;
    min-height: 40px;
  }
}
