@import 'variables';
@import '../../../../../styles/record-details';

.row {
  margin-bottom: 30px;

  .col {
    line-height: 1;
    overflow: hidden;
    text-overflow: ellipsis;

    .font-weight-bold {
      margin-bottom: 4px;
    }
  }
}

.industry-title {
  margin-top: 11px;
}
