@import 'variables';

ta-step-6 {
  padding-bottom: 60px;
  display: block;

  .step-wrapper {
    max-width: 656px;
    margin: auto;

    .selected-items-box {
      min-height: 288px;
    }
  }
  .w-30 {
    width: 30%;
  }
  .w-40 {
    width: 40%;
  }
  .w-60 {
    width: 60%;
  }
}
