.data-label {
  width: 97px;
  height: 16px;
  left: 24px;
  top: 266px;

  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  color: #000000;
}
