@import 'variables';

.heading {
  font-size: $font-size-28;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0.5rem;
}

.sub-heading {
  font-size: $font-size-14;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.data-label {
  margin-bottom: 7px;
}

.record-details-container {
  padding-top: 1rem;
  display: block;
  width: 656px;
  margin: 0 auto;
  padding-bottom: 5rem;
  .tab-pane {
    padding-left: 0;
    padding-right: 0;
  }
}
