<div class="fadeInApp">
  <form
    [formGroup]="companyAffiliateDetailsForm"
    (ngSubmit)="onSubmit()"
    novalidate
  >
    <div class="company-affiliate-details-container">
      <div class="row form-group">
        <div class="col col-6">
          <!-- [i18n-tobeinternationalized] -->
          <label for="companyName" class="data-label">
            Company Name
            <span
              [ngClass]="{
                'text-danger': iconRequiredColor === 'red',
                'font-color-default': iconRequiredColor === 'default'
              }"
              >*</span
            >
            <ta-icon
              [icon]="iconTypeTooltip"
              taTooltip="A commercial entity with a relationship with a peer or a larger entity."
              tooltipTextAlign="left"
              height="12"
              container="body"
              class="position-relative"
              style="top: -2px; left: 5px;"
              placement="bottom-left"
              color="#595959"
              tooltipTheme="light"
            ></ta-icon>
          </label>

          <input
            id="companyName"
            type="text"
            formControlName="companyName"
            class="form-control"
            [ngClass]="{
              'is-invalid': companyName.invalid && companyName.touched
            }"
            name="companyName"
          />
          <div
            *ngIf="
              companyName.invalid &&
              companyName.touched &&
              !companyName.errors?.maxlength
            "
            class="text-danger text-danger-multi-sibling"
          >
            <!-- [i18n-tobeinternationalized] -->
            This field is required.
          </div>
          <div
            *ngIf="companyName.errors?.maxlength"
            class="text-danger text-danger-multi-sibling"
          >
            <!-- [i18n-tobeinternationalized] -->
            The name must be less than 255 characters.
          </div>
        </div>
        <div class="col col-6">
          <!-- [i18n-tobeinternationalized] -->
          <label for="entityType" class="data-label"
            >Entity Type
            <span
              [ngClass]="{
                'text-danger': iconRequiredColor === 'red',
                'font-color-default': iconRequiredColor === 'default'
              }"
              >*</span
            >
          </label>
          <!-- [i18n-tobeinternationalized] -->
          <ta-dropdown-field
            [options]="entityTypes"
            optionLabel="name"
            [selectedOption]="
              companyAffiliateDetailsForm.get('entityType').value
            "
            formControlName="entityType"
            placeholder="Select"
            [ngClass]="{
              'is-invalid': entityType.invalid
            }"
            (dropdownOpenChanged)="onDropdownTouched($event, 'entityType')"
          ></ta-dropdown-field>
          <div
            *ngIf="
              companyAffiliateDetailsForm.get('entityType').invalid &&
              companyAffiliateDetailsForm.get('entityType').touched
            "
            class="text-danger text-danger-multi-sibling"
          >
            <!-- [i18n-tobeinternationalized] -->
            This field is required.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-6">
          <!-- [i18n-tobeinternationalized] -->
          <label for="industrySector" class="data-label">Industry Sector</label>
          <div
            aria-labelledby="companyAffiliateIndustrySectorDetailsItemsSelect"
          >
            <ta-dropdown-category-multiple
              [isSearchable]="true"
              [options]="industrySectorOptions"
              formControlName="industrySectors"
            ></ta-dropdown-category-multiple>
          </div>
        </div>
        <div class="col col-6">
          <label for="dataControllerOrProcessor" class="data-label">
            <!-- [i18n-tobeinternationalized] -->
            Data Controller or Processor
            <ng-template #controllerProcessorTipContent>
              <!-- [i18n-tobeinternationalized] -->
              The data controller is the person (or business) who determines the
              purposes for which, and the way in which, personal data is
              processed. By contrast, a data processor is anyone who processes
              personal data on behalf of the data controller (excluding the data
              controller's own employees)
            </ng-template>
            <ta-icon
              [icon]="iconTypeTooltip"
              [taTooltip]="controllerProcessorTipContent"
              tooltipTextAlign="left"
              height="12"
              container="body"
              class="position-relative"
              style="top: -2px; left: 5px;"
              placement="bottom-left"
              color="#595959"
              tooltipTheme="light"
            ></ta-icon>
          </label>
          <ta-dropdown-field
            [options]="dataControllerOrProcessors"
            optionLabel="name"
            [selectedOption]="
              companyAffiliateDetailsForm.get('dataControllerOrProcessor').value
            "
            formControlName="dataControllerOrProcessor"
            placeholder="Select Controller or Processor"
          ></ta-dropdown-field>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <ta-risk-field-indicator
            [showIndicator]="showRiskFields"
          ></ta-risk-field-indicator>
          <label for="ownedBy" class="data-label">
            <!--- [i18n-tobeinternationalized] --->
            Owned By
            <ng-template #ownedByTipContent>
              <div class="tooltip-content">
                <strong>
                  <!-- [i18n-tobeinternationalized] -->
                  Company Entities:
                </strong>
                <span>
                  <!-- [i18n-tobeinternationalized] -->
                  Primary Entity or Company Affiliate
                </span>
              </div>
            </ng-template>
            <ta-icon
              [icon]="iconTypeTooltip"
              [taTooltip]="ownedByTipContent"
              tooltipTextAlign="left"
              height="12"
              container="body"
              class="position-relative"
              style="top: -2px; left: 5px;"
              placement="bottom-left"
              color="#595959"
              tooltipTheme="light"
            ></ta-icon>
          </label>
          <div data-cy="owned-by" id="ownedBy">
            <ta-async-categorical-dropdown
              #asyncDropdown
              [categoryLoaders]="getCategoryLoaders()"
              [dropdownAlignment]="['bottom-left', 'bottom-right', 'top-right']"
              [isMultiSelect]="false"
              [mapContentItem]="mapContentItem"
              [selectedItems]="selectedLegalEntity ? [selectedLegalEntity] : []"
              (itemSelected)="
                selectLegalEntity($event);
                asyncDropdown.selectorDropdown.close()
              "
            ></ta-async-categorical-dropdown>
          </div>
          <div
            *ngIf="legalEntity.errors?.required && legalEntity.touched"
            class="text-danger text-danger-multi-sibling"
          >
            <!-- [i18n-tobeinternationalized] -->
            This field is required.
          </div>
        </div>
      </div>

      <ta-input-location
        header="Location"
        [iconRequiredColor]="iconRequiredColor"
        [showRiskFields]="showRiskFields"
        [allCountries]="allCountries"
        [locations]="companyAffiliateDetailsGetResponse?.locations"
        (locationChanges)="locationChanges($event)"
      ></ta-input-location>

      <!-- [i18n-tobeinternationalized] -->
      <div>
        <div class="sub-heading dpo-or-legal-contact-title mt-4">
          DPO or Other Legal Contact
          <a
            class="update-contact-link"
            *ngIf="contact"
            (click)="editContact()"
          >
            Edit Contact
          </a>
        </div>
      </div>

      <div class="row form-group mb-4">
        <div class="col contact-info" *ngIf="contact">
          <div class="row contact-row">
            <div class="col text-wrap text-break">
              {{ contact.fullName ? contact.fullName : '' }}
            </div>
            <div class="col text-wrap text-break">
              {{ contact.address ? contact.address : '' }}
            </div>
          </div>
          <div class="row contact-row">
            <div class="col">
              {{ contact.email ? contact.email : '' }}
            </div>
            <!-- [i18n-tobeinternationalized]-->
            <div class="col">
              {{ contact.cityStateZip }}
            </div>
          </div>
          <div class="row contact-row">
            <div class="col">
              {{ contact.phone ? contact.phone : '' }}
            </div>
            <div class="col">
              {{ contact.country ? contact.country.name : '' }}
            </div>
          </div>
          <div class="row contact-row">
            <div class="col">
              <!-- Temporary fix until RHEA-1504 addresses larger issue -->
              {{
                companyAffiliateDetailsForm.get('contactRole').value.type
                  ? companyAffiliateDetailsForm.get('contactRole').value.type
                  : companyAffiliateDetailsForm.get('contactRole').value
              }}
            </div>
          </div>
        </div>
        <div class="col contact-info" *ngIf="!contact">
          <!-- [i18n-tobeinternationalized] -->
          You haven't added an external contact.
          <a
            class="add-new-location-link"
            *ngIf="!contact"
            (click)="createNewContact()"
          >
            Create New Contact
          </a>
        </div>
      </div>

      <!-- [i18n-tobeinternationalized] -->
      <div class="sub-heading">Notes</div>
      <div class="row form-group">
        <!-- [i18n-tobeinternationalized] -->
        <div class="col-12">
          <textarea
            formControlName="notes"
            class="form-control"
            [ngClass]="{
              'is-invalid': notes.invalid && notes.touched
            }"
            id="notes"
            name="notes"
            placeholder="Add comments, notes."
            rows="5"
          ></textarea>
          <div *ngIf="notes.errors?.maxlength" class="text-danger">
            <!-- [i18n-tobeinternationalized] -->
            The notes must be less than 1024 characters.
          </div>
        </div>
      </div>
    </div>

    <div *taSlotView>
      <button
        taButton
        type="submit"
        taType="primary"
        class="page-next btn-lg"
        [ngClass]="{ 'page-next': true, 'not-allowed': !formIsValid }"
        [routerLink]="['data-inventory']"
        [disabled]="!formIsValid"
      >
        <!-- [i18n-tobeinternationalized] -->
        Save
      </button>
    </div>
  </form>
</div>
