<!-- On hover Display of Contents -->
<ng-template #namesHoverContent>
  <div *ngIf="flatNames && flatNames.length > 0" (mouseleave)="closePopovers()">
    <div class="mb-1" *ngFor="let name of flatNames">{{ name }}</div>
  </div>
</ng-template>
<div
  #displayPopOver="taPopover"
  triggers="'manual'"
  placement="bottom-left"
  [taPopover]="namesHoverContent"
  [autoClose]="false"
  [disablePopover]="flatNames.length < 1"
  (mouseenter)="triggerPopover(displayPopOver)"
  (mouseleave)="closePopovers()"
  popoverClass="owner-popover-styles"
>
  <span class="d-inline" *ngIf="flatNames.length > 0">
    {{ flatNames | multipleStringPipe: 'stringify' }}
  </span>
  <ta-icon
    *ngIf="!(flatNames && flatNames.length === 0)"
    icon="edit"
    class="edit-icon float-right"
    (click)="
      closePopovers();
      $event.stopPropagation();
      this.toggleEditMode(true);
      editingDropDown.open()
    "
  >
  </ta-icon>
</div>

<!-- style="border-style:dashed;border-color:black;" -->
<div
  taDropdown
  #editingDropDown="taDropdown"
  class="owner-edit-popover"
  [style.width]="'313px'"
>
  <ta-icon
    id="dropdownManual"
    taDropdownAnchor
    (focus)="editingDropDown.open()"
  >
  </ta-icon>
  <div taDropdownMenu aria-labelledby="dropdownManual" class="edit-container">
    <div [formGroup]="form" class="edit-body">
      <div
        formArrayName="formGroupsArray"
        class="m-2"
        *ngFor="let inlineForm of inlineFormsArray.controls; let i = index"
      >
        <div [formGroup]="inlineForm">
          <input class="form-control" formControlName="name" />
          <div></div>
        </div>
      </div>
    </div>
    <div class="action-buttons d-flex flex-row justify-content-end p-3">
      <button
        class="mr-1 btn-sm  ta-table-button"
        taButton
        taType="flat"
        (click)="toggleEditMode(false); editingDropDown.close()"
      >
        Cancel
      </button>
      <button
        class="btn-sm ta-table-button"
        taButton
        taType="primary"
        [disabled]="!(form.valid && form.dirty)"
        (click)="onSave(); editingDropDown.close()"
      >
        Save
      </button>
    </div>
  </div>
</div>
