<div id="ta-footer">
  <div class="float-left">
    <a href="{{ aboutLink.url }}" target="_blank" class="footer-link">{{
      aboutLink.text
    }}</a
    ><a href="{{ privacyLink.url }}" target="_blank" class="footer-link">{{
      privacyLink.text
    }}</a
    ><a href="{{ supportLink.url }}" target="_blank" class="footer-link">{{
      supportLink.text
    }}</a
    ><a href="{{ contactLink.url }}" class="footer-link">{{
      contactLink.text
    }}</a>
  </div>
  <div class="float-right">
    <!-- [i18n-tobeinternationalized] -->
    <span class="copyright"
      >&copy; 2019 TrustArc Inc, All Rights Reserved.</span
    >
    <span class="separator d-none"></span>
    <a href="javascript:void(0);" class="feedback-link d-none">{{
      feedbackLink.text
    }}</a>
  </div>
</div>
