@import 'variables';

ta-selected-items-container {
  $input-border-grey: zeplin-lighten($gray-700, 0.5);
  display: block;
  position: relative;

  div[taDropdownMenu] {
    top: 33px;
    left: 0;
    width: 430px;
  }

  .dropdown-toggle {
    & > i.ta {
      &:before {
        font-size: $font-size-20 !important;
      }
    }
  }

  .remove-all-icon {
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 0;
  }

  .selected-items-box {
    border-radius: 3px;
    border: $border-default-600;
    background-color: $white;
    padding: 0;
    overflow: auto;
    margin: 0 1px;

    .fadeInApp {
      cursor: pointer;
    }
  }

  button[taDropdownToggle] {
    min-width: 160px;
  }

  .dropdown-menu .ta-dropdown-category ta-checkbox {
    display: block !important;
    padding: 0 5px !important;
    margin-bottom: 5px !important;
  }

  .empty-image {
    background-image: url('/assets/images/no-data.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-top: -10px;
  }

  .empty-subtext {
    position: relative;
    top: 50%;
    padding-top: 60px;
  }
}
