<div class="p-3 animated fadeIn" id="system-record-add-content">
  <header class="d-flex align-items-center mb-3">
    <div class="w-100 d-flex align-items-center">
      <h3
        class="h6 m-0 d-inline-block pr-3 text-truncate"
        style="max-width: 80%;"
      >
        <!-- [i18n-tobeinternationalized] -->
        Add New System Record
      </h3>
    </div>
  </header>

  <ta-tabset [destroyOnHide]="false">
    <!-- [i18n-tobeinternationalized] -->
    <ta-tab title="Details">
      <ng-template taTabContent>
        <!-- [i18n-tobeinternationalized] -->
        <div class="sub-heading">Details</div>
        <ta-it-system-details
          #canDeactivateTab
          [redesign]="true"
          [iconRequiredColor]="'red'"
          [iconTypeTooltip]="'help'"
          [showRiskFields]="showRiskFields"
          [tabToRedirect]="tabToRedirect"
          [isAddNewItemLinkAtBottom]="true"
          [prePopulatedDetails]="state?.details || {}"
          [prePopulatedDetailsMerge]="true"
          (updatedFormValue)="getFormData($event)"
          (updatedContactValue)="setContactValue($event)"
          (addNewEntity)="handleAddNewEntity($event)"
        ></ta-it-system-details>
      </ng-template>
    </ta-tab>

    <!-- [i18n-tobeinternationalized] -->
    <ta-tab title="Data Elements">
      <ng-template taTabContent>
        <div class="sub-heading">
          <ta-risk-field-indicator
            [showIndicator]="showRiskFields"
          ></ta-risk-field-indicator>
          <!-- [i18n-tobeinternationalized] -->
          Data elements processed by this System
        </div>
        <ta-it-system-data-elements
          [baseDomainId]="baseDomainId"
          [styleClass]="'categorical-view-component-full-height'"
          [preselectedDataElementIds]="state?.selectedDataElements || []"
          (selectionsUpdated)="handleDataElementsUpdated($event)"
        ></ta-it-system-data-elements>
      </ng-template>
    </ta-tab>

    <!-- [i18n-tobeinternationalized] -->
    <ta-tab title="Processing Purposes">
      <ng-template taTabContent>
        <div class="sub-heading">
          <ta-risk-field-indicator
            [showIndicator]="showRiskFields"
          ></ta-risk-field-indicator>
          <!-- [i18n-tobeinternationalized] -->
          Processing Purposes
        </div>
        <ta-it-system-processing-purposes
          [baseDomainId]="baseDomainId"
          [styleClass]="'categorical-view-component-full-height'"
          [preselectedProcessingPurposeIds]="
            state?.selectedProcessingPurposes || []
          "
          (selectionsUpdated)="handleProcessingPurposesUpdated($event)"
        ></ta-it-system-processing-purposes>
      </ng-template>
    </ta-tab>

    <!-- [i18n-tobeinternationalized] -->
    <ta-tab title="Tags">
      <ng-template taTabContent>
        <!-- [i18n-tobeinternationalized] -->
        <div class="sub-heading">Tags</div>
        <!-- [i18n-tobeinternationalized] -->
        <div class="mb-3">Use tags to organize and classify the assets.</div>
        <ta-inventory-tags
          [baseDomainId]="baseDomainId"
          [baseDomainType]="baseDomainType"
          [preselectedTags]="state?.selectedTags || []"
          (selectedTagsChange)="handleTagsUpdated($event)"
        ></ta-inventory-tags>
      </ng-template>
    </ta-tab>
  </ta-tabset>
</div>

<div
  id="system-selection-action-buttons"
  class="justify-content-end d-flex align-items-center"
>
  <div class="d-flex text-right">
    <button
      class="mr-2"
      taButton
      taType="flat btn-sm"
      (click)="handleCancelAdding()"
    >
      <!-- [i18n-tobeinternationalized] -->
      Cancel
    </button>
    <button
      class="w-auto"
      taButton
      taType="flat btn-sm"
      (click)="handleSaveAdding()"
      [disabled]="isDisabledSave"
    >
      <!-- [i18n-tobeinternationalized] -->
      Save
    </button>
  </div>
</div>
